* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', 'Ubuntu Mono', 'Fira Mono';
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b5e3f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b7a9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006888;
}

/* Responsive Screen */
@media only screen and (max-width: 800px) {

    .title {
        font-size: 2em;
    }

    .test-area {
        width: 80vw;
    }
}

/* BACKGROUND*/

.container {
    height: 100vh;
    background-image: url('images/bloody-forest-hell-red.jpg');
    background-size: cover;
    /* background-position-y: 70%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: -1;
}

.title {
    margin-top: 3vh;
    font-size: 3em;
}

/* JAVASCRIPT TEST AREA */

.test-area {
    width: 70vw;
    height: 80vh;
    box-sizing: border-box;
    padding: 2em;
    background-color: rgb(255, 255, 255, 0.8);
    margin: auto;
    text-align: left;
    color: rgb(2, 40, 90);
    overflow: auto;
}

/* CALCULATORS */

.calculator-container {
    background-color: rgb(255, 255, 255, 0.8);
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    box-sizing: border-box;
}

.screen {
    background-color: rgb(123, 178, 204);
    padding: 16px;
    font-size: 2em;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn{
    background-color: #730710;
    width: 100px;
    color: white;
    text-align: center;
    padding: 10px}

.btn:hover{
  background-color: red;
  cursor: pointer;
}

.calculatorButton {
    margin-top: 16px;
    background-color: rgb(37, 117, 155);
    padding: 16px 0;
    width: 110px;
    text-align: center;
}

.numDisplay {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    color: rgb(123, 178, 204);
    font-size: 1.5em;
}

.invisible{
  display: none;
}

.scary-bg {
  background-image:url("images/scary.jpg")
}

.button-container {
  display: flex;
  justify-content: center;
}

.story img{
  height:300px;
  display:block;
  margin: auto;
}

.story-window img{
  height:360px;
  display:block;
  margin:auto;
  margin-top: 16px;
}
